<!DOCTYPE html>
<html lang="nl">
  {{- partial "head.html" . -}}
  <body>
      <div id="outer">
        <div id="mainSpacerTop"></div>
        <div id="main">
          <div id="mainHead">
            <!-- img src="images/header.png" alt="Piith" / -->
            <header>
              <h1><a href="http://piith.nl/" rel="home"><span>Piith</span></a></h1>
              <h2>Professionele Integratieve Interactieve Therapeuten</h2>
            </header>
            <nav>
              <div class="menu-links-container">
                <ul id="menu-links" class="main-menu main-menu-left">
                  <li id="menu-item-2382"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2382"><a
                      href="http://piith.nl/wie-doet-wat/">Wat &amp; Wie</a></li>
                </ul>
              </div>
              <div class="menu-rechts-container">
                <ul id="menu-rechts" class="main-menu main-menu-right">
                  <li id="menu-item-10" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10"><a
                      href="http://piith.nl/piith/">Over Piith</a></li>
                </ul>
              </div>
            </nav>
          </div>
          <div id="mainContent">
            {{- block "main" . }}{{- end }}
          </div>
          <nav>
            <div class="menu-top-container">
              <ul id="menu-top" class="top-menu">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                  <li
                    class="
                      {{- if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) -}}
                        active
                      {{- end -}}
                      {{- with .Page -}}
                        {{if (.Params.devider) }} gap{{end}}
                      {{- end -}}"
                  >
                    <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                  </li>
                {{ end }}
                <li id="menu-item-599"
                  class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-599">
                  <a href="http://piith.nl/" aria-current="page">home</a></li>
                <li id="menu-item-2044" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2044"><a
                    href="http://piith.nl/lesrooster/">lesrooster</a></li>
                <li id="menu-item-2257" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2257"><a
                    href="http://piith.nl/recensies/">recensies</a></li>
                <li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a
                    href="http://piith.nl/contact/">contact</a></li>
                <li id="menu-item-1992" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1992"><a
                    href="http://piith.nl/privacyverklaring/">privacyverklaring</a></li>
              </ul>
            </div>
          </nav>
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup" class="newsletter-widget">
            <form action="http://piith.us7.list-manage1.com/subscribe/post?u=8f3a33283f070bfde53fa0d38&amp;id=1c635e357f"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
              novalidate="">
              <h1>Schrijf je in voor de Piith-noot, nieuwsbrief</h1>
              <div class="mc-field-group">
                <label for="mce-EMAIL">Naam </label>
                <input type="text" value="" name="NAME" class="required" id="mce-NAME" placeholder="naam">
                <label for="mce-EMAIL">Email adres </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email">
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <div class="clear"><input type="submit" value="Aanmelden" name="subscribe" id="mc-embedded-subscribe"
                  class="button"></div>
            </form>
          </div>
          <div class="social">
            <a href="https://www.facebook.com/piith.zegmaarpit"><img alt="Facebook"
                src="/facebook.svg" width="32" height="32"></a>
          </div>
          <!--End mc_embed_signup-->
        </div>
        <div id="mainFooter">
          <p class="copyright">© 2013–2019 Piith</p>
          <p class="author">Deze website is gemaakt door <a href="http://apptoad.nl">appTOAD</a>.</p>
        </div>
      </div>
    {{- partial "header.html" . -}}
    {{- partial "footer.html" . -}}
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", function (user) {
      if (!user) {
        window.netlifyIdentity.on("login", function () {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
  </body>
</html>
