@charset "UTF-8";
@import url(
  https://fonts.googleapis.com/css?family=Open+Sans:400italic,
  700italic,
  400,
  700|Open+Sans+Condensed:700
);

img {
  border: none;
}
.clear {
  clear: both;
}
a:link {
  color: #673e20;
}
a:visited {
  color: #686868;
}
a:active,
a:hover {
  color: #8e603f;
}
blockquote {
  font-size: smaller;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font: 87.5% "Open Sans", sans-serif;
  text-align: center;
}
